- Host Valheim for 5 friends
- Server should be able to be enabled and disabled from a discord channel
- Server should have a configurable timeout where it is automatically shut off to cost saving reasons
- Code should contain iac to deploy all resources
- Infra should be hosted in Azure
- Cost saving should be a key priority along with server stability and usablity
- There should be a way to migrate an existing save from another server to this server

References: 
- https://valheim.fandom.com/wiki/Dedicated_servers
- https://www.valheimgame.com/support/a-guide-to-dedicated-servers/